
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors (Bulma Variables)
$body-background-color: #1B1B1B;
$primary: #fb4622;
$primary-light: #f87d6d;
$dark: #141414;
$grey: #777777;
$white: #ebebeb;

// Table Colors (Bulma Variables)
$table-color: $white;
$table-background-color: $body-background-color;
$table-striped-row-even-background-color: #171717;
$table-row-hover-background-color: rgba($primary, 5%);
$table-striped-row-even-hover-background-color: rgba($primary, 5%);
$table-cell-border: 1px solid $dark;
