
html, body {
    background-color: $body-background-color;
    font-family: $font-family-sans-serif;
    color: $white;
}

.content {
    & h1, & h2, & h3, & h4, & h5, & h6, & p, & strong {
        color: $white;
    }
}

a {
    color: $primary;

    &:hover, &:focus {
        color: lighten($primary, 20%);
    }
}

p.update-counter {
    color: $grey;
    transition: color 0.5s;

    & strong {
        color: rgba($primary, 80%);
        transition: color 0.5s;
    }

    &:hover {
        color: $grey-light;

        & strong {
            color: $primary;
        }
    }
}

footer.footer {
    background-color: $dark;
}
